
<!doctype html>
<html>
	<head>
		<title>Home</title>

		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic|Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> <!-- Lobster -->
		<link rel="stylesheet" type="text/css" href="app.css">
		<link rel="stylesheet" type="text/css" href="vendor/foundation/css/foundation.min.css">

		<link rel="stylesheet" href="animated.css">
		<script type="text/javascript" src="vendor/jquery-2.1.3.min.js"></script>
    <script src="vendor/jquery.easing.min.js"></script> 
    <script src="vendor/jquery.scrollTo.js"></script>
    <script src="vendor/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="vendor/custom.js"></script>

    <!-- Custom CSS -->
    <!-- <link href="style.css" rel="stylesheet"> -->
    <link href="default.css" rel="stylesheet">
	</head>

	<script type="text/javascript">

  // ********************** These are the arrays of url's to be sent to stupeflex. ******************
  // Every 30 second interval (6 months) will add exactly one url to each of these arrays.
  // Note: creating the video will dynmically iterate through each of these.
  var video_url = [];
  var video_info = [];
  var post_1 = [];
  var post_2 = [];
  var first_pic = [];
  var first_pic_info = [];
  var second_pic = [];
  var second_pic_info = [];
  var third_pic = [];
  var fourth_pic = [];
  var songs_array = [];

  // these are our extra variables
  var extra_photos = [];
  var extra_videos = [];
  var extra_posts = [];

  // this is how many elements should be in each array at the end of each 6 motnh loop.
  var iteration = 0;
  var photo_api_complete = 0;
  var video_api_complete = 0;
  var post_api_complete = 0;

  // ********************************* date variables ************
  var start_year;
  var start_month;
  var start_day;
  var end_year;
  var end_month;
  var end_day;

  // *********************** This determines which extra content to fill in, **********************
  var photo_index = 0;
  var post_index = 0;
  var video_index = 0;
  var which_one = 0;
  var check_complete = 0;

// ***************************** FB TROLL - TREEHACKS ***************************************
var photo_comments = []; // create a map?
var photo_objects = [];
var photo_link_to_comment = [];
var like_objects = [];
var like_comments = [];
var chosen_comments = {};
var photo_counter = 0;

var photo_comment_templates = ["what a great day", 
                               "reminds me of the good old days",
                               "this always reminds me of when i used to live in palo alto", 
                               "i ate so many white castles after this... lol...",
                               "sometimes when i think about this photo i get queezy..",
                               "im going to print this out and put it all over my face/pillowcase. but probably just my face.",
                               "try plugging an ethernet cable into THAT!",
                               "i just cant even..",
                               "great pic... one of my best memories..",
                               "my shopping list for this week: hibiscus plants, reeses puffs (peanut butter chocolate flavour), fruit roll ups. dont let me forget.",
                               "try looking at this picture and listening to notorious b.i.g.",
                               "selling an ATV for $400 obo - runs great, my kids loved it as well."];
var photo_comment_template_names = [", what are u doing today?", 
                                    ", i definitely agree with you.", 
                                    ", excuse me..?  hahaha just-kidding.",
                                    ", you left your john deere trucker hat at my place",
                                    ", you still have my copy of mario sunshine! ha-ha.",
                                    ", so true, lol"];
var photo_comment_template_names_alt = ["im going to remember this one for a while, ", 
                                        "hahahaha, omg ", 
                                        "im not quite sure id say that... ",
                                        "you should've seen me when i posted this pic, ",
                                        "my mom gave me some weird questions after this one... remember, ",
                                        "great comment, "];

var chosen_posts = [];

var post_birthday_templates = [" is my birthday, who wants to go to chuck-e-cheese.",
                               " is the only day of the year i get socks from dockers, and i want to keep it that way.",
                               " gives me an excuse to spend $35 on doritos and say to myself: its okay, today is MY day"];

var post_birthday_templates_alt = ["take a wild guess at what happens on the following data, and ill give you a hint, it has to do it being my birthday: ",
                                   "ill give you $10 if you chill with me on: "];

var post_band_templates = ["i should really do more than eat sun chips and listen to ",
                           "is it a bird? is it a plane? nooooo you're on strike 2 - its: ",
                           "todays goals: drink a liter of water, try not to be intimidated by my own dog, listen to: ",
                           "hella fresh (definition): ",
                           "tell your parents to listen to: "];

var post_band_templates_alt = [" is the reason i never get my homework done, but im okay with it. its a mutual relationship.",
                               " was playing music when i had my first kiss. on the cheek. from my mom.",
                               ", homemade baklava, pictures of sad monkeys. all of those are essential.",
                               " and i have been together for 18 month now, time flies when youre scared about your future..",
                               " should do a cover of that weird-ass witch doctor song."];

var funny_quotes = ['I just ate some garlic, so I cant talk. -',
                    'I hate when Im on a flight and I wake up with a water bottle next to me like oh great now I gotta be responsible for this water bottle. -',
                    'You put the boom-boom into my heart, You send my soul sky high when your lovin starts - ',
                    'It’s grind-day, from Friday, to next Friday. I been up straight for nine days, I need a spa day -',
                    'Tomorrow is Saturday, and Sunday comes after ... wards - I dont want this weekend to end!!! -',
                    'just picked up some dish detergent from target. -',
                    'my dad says the amount of nutella i eat in a weak is unattractive. -',
                    'from my understanding, groundhogs day is more of an illuminati thing. but dont quote me on that.. -'];

var watson_smarty = ["tbh, i just spaced out while looking at this ",
                     "sometimes i wish i could just live in this picture with all of the ",
                     "just imagined getting hit by this ",
                     "lets sing songs off of p!nks debut album and find more pictures of this ",
                     "i am not using complex computational algorithms to determine that this picture is of a ",
                     "lolz, props to this ",
                     "hoodie allen needs to write a song about "];


var friends = 0, bands = 0, birthday = 0;
// this function generates a random comment and may/may not take in the
// name for consideration.
function generateComment(person_name, img_url) {
  var random = Math.floor(Math.random()*101);
  // var represented = // call to Watson to figure out what the photo is about.
  if (random % 2 == 0) {
    var new_comment = photo_comment_templates[random % 12];
    // if we've already chosen this one, call the function again to get a new template.
    if (new_comment in chosen_comments) {
      return generateComment(person_name);
    }
    else {
      chosen_comments[new_comment] = true;
      return new_comment;
    }
  }
  else {
    random = Math.floor(Math.random() * 101);
    if (random % 2 == 0) {
      var new_comment = photo_comment_template_names[random % 6];
      // if we've already chosen this one, call the function again to get a new template.
      if (new_comment in chosen_comments) {
        return generateComment(person_name);
      }
      else {
        chosen_comments[new_comment] = true;
        return person_name + new_comment;
      }
    }
    else {
      var new_comment = photo_comment_template_names_alt[random % 6];
      // if we've already chosen this one, call the function again to get a new template.
      if (new_comment in chosen_comments) {
        return generateComment(person_name);
      }
      else {
        chosen_comments[new_comment] = true;
        return new_comment + person_name;
      }
    }
  }
}

// ******************** Function to actally post to FB ***********************
function postComment(obj_id, new_msg, btn) {
  console.log("in the function!");
  var first_param = "/" + obj_id + "/comments";
  FB.api(first_param, "POST", { "message": new_msg },
    function (response) {
      if (response && !response.error) {
        // alert("it was successful!");
        $(btn).fadeOut("slow");
      }
    }
  );
}

function postLike(obj_id, btn) {
  var first_param = "/" + obj_id + "/likes";
  FB.api(
    first_param, "POST",
    function (response) {
      if (response && !response.error) {
        // alert("holllaaaa!");
        $(btn).fadeOut("slow");
      }
    }
  );
}

function postAll() {
  var items = document.querySelectorAll(".trollz");
  for (var i = 0; i < items.length; i++) {
      items[i].click();
  }
}


  // *************************************************************************************************

  // Getting the current day, month, and year.
  var current_date = new Date();
  var current_day = current_date.getDate();
  var current_month = current_date.getMonth() + 1; // b/c its 0 indexed.
  var current_year = current_date.getFullYear();

  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      var access_token = response.authResponse.accessToken;
      console.log("Connected: " + access_token);
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      console.log('Not authorized');
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      console.log('Please log ' + 'into Facebook.');
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '480747342080039',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));


  function upload_to_facebook(status_msg, btn) {
    FB.api(
      "/me/feed",
      "POST",
      {
        "message": status_msg
      },
    function (response) {
      if (response && !response.error) {
        // alert('Post successful!');
        $(btn).fadeOut("slow");
      }
    }
  );

  }
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome! Fetching your information.... ');

    // ********************** Clearing the data before **********************
    video_url.length = 0;
    video_info.length = 0;
    post_1.length = 0;
    post_2.length = 0;
    first_pic.length = 0;
    first_pic_info.length = 0;
    second_pic.length = 0;
    second_pic_info.length = 0;
    third_pic.length = 0;
    fourth_pic.length = 0;
    extra_photos.length = 0;
    iteration = 0;

    photo_index = 0;
    post_index = 0;
    video_index = 0;
    which_one = 0;

    friends = 0;
    bands = 0;
    birthday = 0;

    // ****************** finding out our starting date ***********************

    // using a test value of 1:30 minutes, in other words, two years of FB data.
    how_long_ago = 1.5; // years.

    // since
    start_year = current_year;
    start_month = current_month;
    start_day = current_day;

    // if its a whole number, just adjust the year.
    if (how_long_ago % 1 == 0) {
      start_year -= how_long_ago;
    }
    // otherwise, subtract the year, then adjust the months.
    else {
      start_year -= (how_long_ago - 0.5);

      // if subtracting 6 months takes you into the previous year.
      if (start_month - 6 < 1) {
        --start_year;
      }
      start_month = (start_month + 6) % 12;
    }

    // until
    end_year = start_year;
    end_month = start_month + 6;
    end_day = start_day;

    if (end_month > 12) {
      end_month = end_month % 12;
      ++end_year;
    }

        // console.log("we are on iteration: " + iteration);

        // resetting the extra variables for this 6 month period.
        extra_photos = [];
        extra_videos = [];
        extra_posts = [];
        photo_index = 0;
        post_index = 0;
        video_index = 0;
        api_complete = 0;

        photo_api_complete = 0;
        video_api_complete = 0;
        post_api_complete = 0;

        
        


        // we need to make an array of comment post requests and append to it
        // everytime then suggest it to the user so they can approve!

        function photo_API_request(callback, callback_2) {

          // photo_comments.length = 0;

          var FB_photo_request = '/me/photos?since=' + start_year + '-' + start_month + '-' + start_day + '&until=' + end_year + '-' + end_month + '-' + end_day;

          // making the api call - once for all photos
          FB.api(FB_photo_request, function(response) {

            console.log(response);
            // we need to only grab it if theres a convo in the comments

            // sorting the photos by the most comments.
            response.data.sort(function(a, b) {

              // if its a tie, it doesn't matter which is first.
              if (typeof a.comments == "undefined")
                return 1; // so b is ranked higher
              else if (typeof b.comments == "undefined")
                return -1; // so a is ranked higher

              return b.comments.data.length - a.comments.data.length;
            });

            // pushing what we do have onto the array.

            for (var i = 0; i < Math.min(2, response.data.length); i++) {
              photo_objects.push(response.data[i].id);
              // generating a comment with the person's name who first commented.
              console.log(response.data[i].comments.data[0].from.name);
              photo_comments.push(generateComment(response.data[i].comments.data[0].from.name, response.data[i].source));
              photo_link_to_comment.push(response.data[i].link);

              // sneaking some likes in there as well!
              var random = Math.floor(Math.random()*response.data[i].comments.data.length);
              like_objects.push(response.data[i].comments.data[random].id);
              like_comments.push(response.data[i].comments.data[random].message);
            }



            photo_api_complete = 1;

            callback(callback_2);

          });

        }

        function final_check() {

          while (check_complete != 1) {
                  setTimeout(function() { checkLength(final_check); }, 500);
                  return;
                }
          if (!(start_year == current_year && start_month == current_month)) {

            console.log("we got here 3");

              // console.log("we are on iteration: " + iteration);

              // resetting the extra variables for this 6 month period.
              extra_photos = [];
              extra_videos = [];
              extra_posts = [];
              photo_index = 0;
              post_index = 0;
              video_index = 0;
              api_complete = 0;

              photo_api_complete = 0;
              video_api_complete = 0;
              post_api_complete = 0;
              check_complete = 0;

              // moving to the next 6 month interval.
              start_year = end_year;
              start_month = end_month;

              end_month += 6;

              if (end_month > 12) {
                end_month = end_month % 12;
                ++end_year;
              }

              photo_API_request(checkLength, final_check);

          }
          else {
            console.dir(photo_comments);
            // console.dir(video_url);
            // console.dir(post_1);
            populatePosts();
          }

          console.log("we got here 4");


        }

        function checkLength(callback) {
            var my_var;
            // var done_yet = 0;
            while (photo_api_complete != 1) {
              my_var = setTimeout(function() { checkLength(final_check); }, 500);
              console.log("NOT YET! api is not complete!");
              return 0;
            }
            iteration++;

            check_complete = 1;
            callback(); // final check.
        }

        function displayData() {

          $('#video-paste').empty();


          while (friends != 1 || bands != 1 || birthday != 1) {
            setTimeout(function() { displayData(); }, 500);
            return;
          }
          console.log("ESTOY AQUIII");
          console.log(like_comments);

          var your_trolls = "";

          // console.log(chosen_comments);

          for (var i = 0; i < photo_comments.length; i++) {
            // console.log("WERE IN!");
            your_trolls += '<div class = "medium-4 columns">';
            your_trolls += '<ul class="pricing-table">';
            your_trolls += '<li class="title">Photo Comment</li>';
            your_trolls += '<li class="price">'+ photo_comments[i] + '</li>';
            your_trolls += '<li class="description" style="font-size: 1.2em">See the photo <a href="' + photo_link_to_comment[i] + '" target="_blank">here</a></li>';
            // your_trolls += '<li class="bullet-item" style="display:none">' + photo_objects[i] + '</li>';
            your_trolls += '<li class="cta-button"><a class="button round trollz" onclick="postComment(' + photo_objects[i] + ', \'' + photo_comments[i] + '\', this);">Troll!</a></li></ul></div>';
            // if (i != 0 && i % 3 == 0) {
            //   your_trolls += '</div><div class = "row">';
            // }
          }

          // your_trolls += '</div><div class = "row">';

          for (var i = 0; i < chosen_posts.length; i++) {
            // console.log("WERE IN!");
            your_trolls += '<div class = "medium-4 columns">';
            your_trolls += '<ul class="pricing-table">';
            your_trolls += '<li class="title">Status Update</li>';
            your_trolls += '<li class="price">'+ chosen_posts[i] + '</li>';
            your_trolls += '<li class="description" style="font-size: 1.2em">On your wall</li>';
            // your_trolls += '<li class="bullet-item">1 Database</li>';
            your_trolls += '<li class="cta-button"><a class="button round trollz" onclick="upload_to_facebook(\'' + chosen_posts[i] + '\', this)">Troll!</a></li></ul></div>';
            // if (i != 0 && i % 3 == 0) {
            //   your_trolls += '</div><div class="row">';
            // }
          }

          // your_trolls += '</div><div class = "row">';

          for (var i = 0; i < like_comments.length; i++) {
            // console.log("WERE IN!");
            your_trolls += '<div class = "medium-4 columns">';
            your_trolls += '<ul class="pricing-table">';
            your_trolls += '<li class="title">Like a comment</li>';
            your_trolls += '<li class="price">'+ like_comments[i] + '</li>';
            your_trolls += '<li class="description" style="font-size: 1.2em">See the comment <a href="' + photo_link_to_comment[i] + '" target="_blank">here</a></li>';
            // your_trolls += '<li class="bullet-item" style="display:none">' + photo_objects[i] + '</li>';
            your_trolls += '<li class="cta-button"><a class="button round trollz" onclick="postLike(\'' + like_objects[i] + '\', this);">Troll!</a></li></ul></div>';
            // if (i != 0 && i % 3 == 0) {
            //   your_trolls += '</div><div class = "row">';
            // }
          }

          your_trolls += '</div><div class="row"><div class="medium-offset-2 medium-8 columns text-center">';
          your_trolls += '<a target="_blank"><button class="button radius spotify login-button" onclick="postAll();">Post <strong>ALL of them!</strong></button></a>';


          // console.log(your_trolls);

          $('#loading-contents').addClass('none');

          $('#video-paste').append(your_trolls);
          $('#video-contents').removeClass('none');

          console.log(chosen_posts); 
          your_trolls = "";
          photo_comments = [];
          photo_link_to_comment = [];
          photo_objects = [];      
          like_objects = [];
          like_comments = [];   
          console.log(photo_comments);

        }

        function populatePosts() {
          chosen_posts = [];

          var user_birthday, random_band, random_friend;

          // grabbing the user's birthday.
          FB.api("/me", function(response) {

            var random = Math.floor(Math.random()*101);

            console.log(response.birthday);
            user_birthday = response.birthday;

            user_birthday = user_birthday.substring(0, user_birthday.length - 5);
            

            if (random % 2 == 0) {
              chosen_posts.push(user_birthday + post_birthday_templates[random % 3]);
            }
            else {
              chosen_posts.push(post_birthday_templates_alt[random % 2] + user_birthday);
            }
            birthday = 1;

          });

          // grabbing the user's music interests.
          FB.api("/me/music", function(response) {

            var random = Math.floor(Math.random()*response.data.length);
            random_band = response.data[random].name;

            console.log(response.data[random].name); 

            if (random % 2 == 0) {
              chosen_posts.push(post_band_templates[random % 5] + random_band.replace("'","\'"));
            }
            else {
              chosen_posts.push(random_band.replace("'","\'") + post_band_templates_alt[random % 5]);
            }          
            bands = 1;

          });

          // grabbing one of the user's friends.
          FB.api("/me/taggable_friends?limit=25", function(response) {

            console.log(response);           

            var random = Math.floor(Math.random()*response.data.length);
            random_friend = response.data[random].name;

            chosen_posts.push(funny_quotes[random % 8] + random_friend);
            friends = 1;

          });

          var random = Math.floor(Math.random()*101);
          displayData();
          
        }

        

        photo_API_request(checkLength, final_check); 

        console.log("we got here COMPLETE");

        // console.dir(first_pic.length);

  } // testAPI()

	</script>

	<script type="text/javascript">

/* 

After each 6 month period loop, check if we had enough in each cagtegory.
if not, add the extra XML code (that cycles with the above function call) until
they are filled.

I need to change the way we construct the XML such that it doesn't actually 
construct the XML code then append it. i should create the XML code as i go and
store it in the array to make this a lot cleaner. debateably. lolz.

*/


// ******************* General Algorithms ***********************************

/*

variables/data sets that i need to store:

a bank of template things to say with the photos (30-ish) - be able to insert name/description of photo.
a bank of random things to say in the fb message to their friends (25-ish)

1st step: randomly pick older photos from the timeline, and other ppl's names
            who have commented on them (if time allows, user watson to determine
            whats in the photos)

2nd step: generate what we are going to message other users

3rd step: generate what the posts are going to say - attribute random quotes to
            your friends. (call an api for awkward sayings..?)

4th step: actually do the api calls to post the information.

5th step: once the API returns back with a true parameter, display a message to the user
and provide them with a summary of what was posted to their timeline and the links to them..?

* don't do ANYTHING explicit, or include any profanities!

*/

	</script>

	<body>
		
		<header>

			<div class="row">
				
				<div class="medium-8 medium-centered text-center columns">

					<div class="top-container">

						<div class="row">

							<h1 class="white"> <!-- use the lobster font for this!! -->
								Facebook Troll!
							</h1>

							<p>
								Have you ever wanted to comment irrelevant things on photos from years ago, but never had enough time? If so, simply sign into your Facebook account and we'll take control of the trolling from there! ;)
							</p>

						</div>

						<div id="two" class="row login-buttons hidden">

							<div class="medium-12 columns">
								
								<button id="facebook-login" class="button radius facebook login-button">Login with <strong>Facebook</strong></button>

							<div id="fb-root"></div>

							</div>

						</div>

						<div class="row">
							
							<button id="submit-video" class="disabled button radius make-video">START TROLLING!</button>

						</div>
					</div>
				</div>

			</div>

		</header>

		<section class="video-container" style="display: none">

			<div id="loading-contents">
				
				<div class="row">
					
					<div class="medium-12 columns" style="height: 240px;">
					
						<div id="loader-wrapper">
							<div id="loader"></div>
						</div>

					</div>

				</div>

			</div>

			<div id="video-contents" class="none">
				
					<div id="video-paste" class="row">

						<!--<video width="320" height="240" controls>
              <source id="video-source" src="movie.mp4" type="video/mp4">
                  Your browser does not support the video tag.
            </video>-->

            

					</div>

				<div class="row">

					<div class="video-share medium-12 columns text-center">

						<!--<p>This is where the share content will go.</p>-->

					</div>

				</div>

			</div>

		</section>




    <!-- Section: about -->
    <section id="about" class="home-section text-center">
      <div class="heading-about">
        <div class="container">
        <div class="row">
          <div class="large-10 large-offset-1 columns">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
            <h1>Meet the Developer</h1>
            <i class="fa fa-2x fa-angle-down"></i>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="container">

      <div class="row">
        <div class="large-2 large-offset-5 columns">
          <hr class="marginbot-50">
        </div>
      </div>

      <div class="row">
        <div class="medium-offset-4 medium-4 columns">
          <div class="wow bounceInUp" data-wow-delay="0.2s">
              <div class="team boxed-grey">
                <div class="inner">
                  <p>Michael Copley</p>
                  <h5 class="subtitle">Web Developer/Writer</h5>
                  <div class="avatar text-center"><a href="http://www-personal.umich.edu/~mdcopley/"><img src="img/team/michael_copley1.jpg" alt="" class="img-responsive img-circle" style="border-radius:125px"/></a></div>
                </div>
              </div>
          </div>
        </div>

        
        <!-- <div class="small-4 medium-4 columns"></div> -->
      </div>    
    </div>
    </section>
  <!-- /Section: about -->

	<script type="text/javascript">
	$(document).ready(function() {

    $(document).on('click', '#share-to-fb', function() {
      console.log('here');
      upload_to_facebook($(this).attr('value'));
    });

    $('.duration').change(function() {
      how_long_ago = $(this).val();
    });

    $('.the_trolls').on('click', function() {
      var new_msg = $(this).parent().prevAll("li:price").text();
      console.log(new_msg);
      postComment(new_msg);
    })

    var qs = window.location.hash;
    if (qs.length) {
      window.close();
    }

		// $(document).on('change', '.duration', function() {
			$('#two').addClass('animated fadeInUp').removeClass('hidden');
		// });

		$(document).on('click', '#facebook-login', function() {
			if (!$(this).parent().parent().hasClass('hidden')) {
        $('#submit-video').removeClass('disabled');
				// $('#three').addClass('animated fadeInUp').removeClass('hidden');
				FB.login(function(response) {
					if (response.authResponse) {
						console.log(response.authResponse);
						console.log('Welcome!  Fetching your information.... ');
						testAPI();
						//$.cookie('FBID', response.authResponse.userId);
						//FB.api('/me', function(response) {
						//	console.log('Good to see you, ' + response.name + '.');
						//});
					} else {
						console.log('User cancelled login or did not fully authorize.');
					}
				}, {scope: 'user_friends, user_photos, user_likes, user_birthday, publish_actions'});
			}
		});

		$(document).on('click', '#spotify-login', function() {
			if(!$(this).parent().parent().hasClass('hidden')) {
				$('#submit-video').removeClass('disabled');
			}
		});

		// Video loading elements
		$(document).on('click', '#submit-video', function() {
			if (!$(this).hasClass('disabled')) {
				$('.video-container').slideDown();

				
			}
		})

	});

	</script>

	</body>

<html>