<!doctype html>
<html>
	<head>
		<title>troll-me</title>

    <!-- Adjusted mobile viewing -->
    <meta name="viewport" content="width=device-width, target-densitydpi=high-dpi" />

    <!-- Linking the Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon"> <!-- 16 by 16 -->
    <link rel="icon" href="img/favicon.png" type="image/x-icon"> <!-- 16 by 16 -->

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96">
    <!-- <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16"> -->
    <link rel="manifest" href="/img/favicons/manifest.json">
    <!-- <link rel="shortcut icon" href="/img/favicons/favicon.ico"> -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic|Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="app.css">
		<link rel="stylesheet" type="text/css" href="vendor/foundation/css/foundation.min.css">
		<link rel="stylesheet" href="animated.css">

    <!-- Custom CSS -->
    <link href="default.css" rel="stylesheet">

    <!-- Scripts -->
		<script type="text/javascript" src="vendor/jquery-2.1.3.min.js"></script>
    <script src="vendor/jquery.easing.min.js"></script> 
    <script src="vendor/jquery.scrollTo.js"></script>
    <script src="vendor/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="vendor/custom.js"></script>

    <!-- Facebook JavaScript SDK - do not modify -->
    <script src="vendor/facebook_sdk.js"></script>

    <!-- troll-me algorithm JavaScript -->
    <script src="vendor/troll_me_algorithm.js"></script>

	</head>

	<body>
		<header>

      <!-- This is the Facebook Developer Snippet in the top left corner of the homepage. -->
      <div class="row" style="margin-left: 0px; padding-top: 15px; margin-bottom: 15px">
        <div class="medium-6 text-left columns" style="">
          <img src="img/fb_logo.png" alt="" class="img-responsive" style="margin-bottom:5px"/>
          <h2 class="info" style="display:inline"> &nbsp;| </h2>
          <h2 id="developer-link" class="developer" style="display:inline" onclick="window.open('https://github.com/mcopley08/troll-me', '_blank')">Developer</h2>
        </div>
      </div>

      <!-- This is the main page of the web application -->
			<div class="row">
				<div class="medium-10 medium-centered text-center columns">
					<!-- <div class="top-container"> -->

            <!-- troll-me logo -->
						<div class="row">
              <div class="medium-10 medium-centered text-center columns">
  							<h1 class="white" style="display:inline"> 
  								<b>troll </b></h1><h1 class="white" style="padding: 4px; display:inline; border: white 3px solid">ME
  							</h1>
              </div>
            </div>

            <!-- sub-heading -->
            <div class="row" style="margin-top:10px; margin-bottom: 15px">
              <div class="medium-12 medium-centered text-center columns">
  							<h2 class="info">
  								Don't take life too seriously
  							</h2>
              </div>
						</div> 

            <!-- Facebook Login Button, and Start Trolling! button -->
						<div id="two" class="row login-buttons">
							<div class="medium-6 columns">
								<button id="facebook-login" class="button radius facebook login-button">Login with <strong>Facebook</strong></button>
							  <div id="fb-root"></div>
							</div>
              <div id="submit-troll-div" class="medium-6 columns hidden">
                <button id="submit-troll" class="disabled button radius make-video">Start <strong>Trolling!</strong></button>
              </div>
						</div>

					<!-- </div> -->
				</div>
			</div>
		</header>

    <!-- Section: troll-container holds all of the suggested trolls for the user
    once they've been generated. -->
		<section class="troll-container" style="display: none">

      <!-- This is the loading content placeholder for when the API calls are being ran. -->
			<div id="loading-contents">
				<div class="row">
					<div class="medium-12 columns" style="height: 240px;">
						<div id="loader-wrapper">
							<div id="loader"></div>
						</div>
					</div>
				</div>
			</div>

      <!-- This is where the html for the suggested trolls will be posted. -->
			<div id="troll-contents" class="none">
				<div id="troll-paste" class="row"></div>
			</div>

		</section>

    <!-- Section: GitHub -->
    <section id="github" class="home-section text-center" style="padding-bottom: 25px; margin-bottom: 55px">

      <!-- Looking to Contribute? Header -->
      <div class="heading-about">
        <div class="container">
        <div class="row">
          <div class="large-10 large-offset-1 columns">
            <div class="wow fadeInDown" data-wow-delay="0.4s">
            <div class="section-heading">
            <h2 style="display:inline">Looking to Contribute? </h2>
            <img src="img/programming.png" alt="" class="img-responsive" style="margin-bottom:18px; display:inline"/>
            <i class="fa fa-2x fa-angle-down"></i>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>

      <!-- This is the section that mentions the project and the link to GitHub. -->
      <div class="container">

        <!-- creates a divider -->
        <div class="row">
          <div class="large-2 large-offset-5 columns">
            <hr class="marginbot-50">
          </div>
        </div>

        <div class="row">

          <!-- Fork on Github, image & link to project page. -->
          <div class="medium-10 medium-centered columns">
            <div class="wow bounceInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
                  <div class="inner">
                    <p>Fork the project on GitHub, we'd love to see what your ideas are!</p>
                    <!-- <h5 class="subtitle">Web Developer/Designer</h5> -->
                    <div class="avatar text-center"><a href="https://github.com/mcopley08/troll-me" target="_blank"><img src="img/github_page_fork.png" alt="" class="img-responsive one-edge-shadow"/></a></div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Section: GitHub -->

    <!-- Section: about -->
    <section id="about" class="home-section text-center" style="margin-bottom: 15px">

      <!-- Heading -->
      <div class="heading-about">
        <div class="container">
          <div class="row">
            <div class="large-10 large-offset-1 columns">
              <div class="wow fadeInUp" data-wow-delay="0.4s">
              <div class="section-heading">
              <h1>Say Hello!</h1>
              <i class="fa fa-2x fa-angle-down"></i>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">

        <div class="row">
          <!-- Developer Bio & Image -->
          <div class="medium-offset-4 medium-4 columns">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="team boxed-grey">
                  <div class="inner">
                    <p>Michael Copley</p>
                    <h5 class="subtitle">Web Developer/Designer</h5>
                    <div class="avatar text-center"><a href="http://www-personal.umich.edu/~mdcopley/"><img src="img/team/michael_copley1.jpg" alt="" class="img-responsive img-circle" style="border-radius:125px"/></a></div>
                  </div>
                </div>
            </div>
          </div>

          <!-- Line separator -->
          <div class="row">
            <div class="large-12 columns">
              <hr class="marginbot-50">
            </div>
          </div>

        </div>  

        <!-- Donate Coffee Section -->
        <div class="container">
          <div class="row">
            <div class="large-10 large-offset-1 columns">
              <div class="wow fadeInUp" data-wow-delay="0.4s">
                <div class="section-heading">
                  <i class="fa fa-2x fa-angle-down"></i>
                  <h2 id="coffee" class="donate" onclick="window.open('http://bit.ly/1KbK1IO', '_blank')">donate a coffee </h2>
                  <img src="img/coffee.png" alt="" class="img-responsive hover-click" style="margin-bottom:8px" onclick="window.open('http://bit.ly/1KbK1IO', '_blank')"/>
                  <h2 id="burger" class="donate" onclick="window.open('http://bit.ly/1zU4JCW', '_blank')"> | donate a burger </h2>
                  <img src="img/burger.png" alt="" class="img-responsive hover-click" style="margin-bottom:8px" onclick="window.open('http://bit.ly/1zU4JCW', '_blank')"/>
                  <h2 id="textbook" class="donate" onclick="window.open('http://bit.ly/1DBSxIb', '_blank')"> | donate a textbook </h2>
                  <img src="img/textbook.png" alt="" class="img-responsive hover-click" style="margin-bottom:8px" onclick="window.open('http://bit.ly/1DBSxIb', '_blank')"/>
                  </h2>
                </div>
              </div>
            </div>
          </div>

          <!-- Attributing the Flaticon website for the free favicons. -->
          <div class="row">
            <div class="medium-10 medium-centered columns">
              <br><br>
              <div>*Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
            </div>
          </div> 

        </div>
      </div>
    </section>
  <!-- /Section: about -->

	<script type="text/javascript">

	$(document).ready(function() {

    // EFFECTS: Allows an animated.css effect to occur on an 
    //          element simply by hovering over it.
    function animationHover(element, animation){
      element = $(element);
      element.hover(
        function() {
          element.addClass('animated ' + animation);
        },
        function(){
          //wait for animation to finish before removing classes
          window.setTimeout( function(){
            element.removeClass('animated ' + animation);
          }, 500);
        }
      );
    };

    // making the developer text animate on hover.
    animationHover('#developer-link', 'bounce');

    // this makes the facebook-login button fade in when the page loads.
    $('#facebook-login').delay(400).addClass('animated fadeInUp');

		// When the user clicks the login to facebook, it will display the
    // 'Start Trolling!' button as well as actually logging in the user.
		$(document).on('click', '#facebook-login', function() {

			if (!$(this).parent().parent().hasClass('hidden')) {

        // displaying the 'Start Trolling!' button.
        $('#submit-troll-div').addClass('animated fadeInUp').removeClass('hidden');
        $('#submit-troll').removeClass('disabled');

        // Logging the user into facebook.
				FB.login(function(response) {
					if (response.authResponse) {
						console.log(response.authResponse);
						console.log('Welcome! Fetching your information.... ');
						//$.cookie('FBID', response.authResponse.userId);
						//FB.api('/me', function(response) {
						//	console.log('Good to see you, ' + response.name + '.');
						//});
					} else {
						console.log('User cancelled login or did not fully authorize.');
					}
				}, {scope: 'user_photos, user_likes, user_birthday, publish_actions'});
			}
		});


		// When 'Start Trolling!' is clicked, it will display the
    // loader contents and scroll you to that section of the page,
    // while it runs the algorithm (testAPI(), then displayData()).
    // displayData() will switch from the loader to the generated
    // content once it is finished.
		$(document).on('click', '#submit-troll', function() {

      // If 'Start Trolling!' has already been pressed.
      if ($('#loading-contents').hasClass('none')) {
        $.when( $('.troll-container').slideUp() ).then(function() {
          $('#loading-contents').removeClass('none');
          $('#troll-contents').addClass('none');
          $('.troll-container').slideDown();
          $('html, body').animate({
            scrollTop: $("#loading-contents").offset().top
          }, 1000);
        });
      }
      // If this is the first time 'Start Trolling!' was pressed.
      else if (!$(this).hasClass('disabled')) {
        $('.troll-container').slideDown();
        $('html, body').animate({
          scrollTop: $("#loading-contents").offset().top
        }, 1000);
      }

      // executing the algorithm.
      testAPI();
      displayData();
			
		});

	});

	</script>
	</body>
<html>