<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script>

  // ********************** These are the arrays of url's to be sent to stupeflex. ******************
  // Every 30 second interval (6 months) will add exactly one url to each of these arrays.
  // Note: creating the video will dynmically iterate through each of these.
  var video_url = [];
  var video_info = [];
  var post_1 = [];
  var post_2 = [];
  var first_pic = [];
  var first_pic_info = [];
  var second_pic = [];
  var second_pic_info = [];
  var third_pic = [];
  var fourth_pic = [];
  

  // *************************************************************************************************

  // Getting the current day, month, and year.
  var current_date = new Date();
  var current_day = current_date.getDate();
  var current_month = current_date.getMonth() + 1; // b/c its 0 indexed.
  var current_year = current_date.getFullYear();

  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      var access_token = response.authResponse.accessToken;
      console.log("Connected: " + access_token);
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1517847781810201',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');

    // ********************** Clearing the data before **********************
    video_url = [];
    video_info = [];
    post_1 = [];
    post_2 = [];
    first_pic = [];
    first_pic_info = [];
    second_pic = [];
    second_pic_info = [];
    third_pic = [];
    fourth_pic = [];

    // ****************** finding out our starting date ***********************

    // using a test value of 1:30 minutes, in other words, two years of FB data.
    var how_long_ago = 1.5; // years.

    // since
    var start_year = current_year;
    var start_month = current_month;
    var start_day = current_day;

    // if its a whole number, just adjust the year.
    if (how_long_ago % 1 == 0) {
      start_year -= how_long_ago;
    }
    // otherwise, subtract the year, then adjust the months.
    else {
      start_year -= (how_long_ago - 0.5);

      // if subtracting 6 months takes you into the previous year.
      if (start_month - 6 < 1) {
        --start_year;
      }
      start_month = (start_month + 6) % 12;
    }

    // until
    var end_year = start_year;
    var end_month = start_month + 6;
    var end_day = start_day;

    if (end_month > 12) {
      end_month = end_month % 12;
      ++end_year;
    }
    
    // var i = 0;

    // starting the photo loop.
    while (!(start_year == current_year && start_month == current_month)) {

      var FB_photo_request = '/me/photos?since=' + start_year + '-' + start_month + '-' + start_day + '&until=' + end_year + '-' + end_month + '-' + end_day;

      // making the api call - once for all photos
      FB.api(FB_photo_request, function(response) {

        // console.dir(response);

        // sorting the photos by the most likes.
        response.data.sort(function(a, b) {

          // if its a tie, it doesn't matter which is first.
          if (typeof a.likes == "undefined")
            return 1; // so b is ranked higher
          else if (typeof b.likes == "undefined")
            return -1; // so a is ranked higher

          return b.likes.data.length - a.likes.data.length;
        });


        if (response.data.length < 9) {
          first_pic.push("https://image.tmdb.org/t/p/original/lAsNv2Vu0DvR8i67elmbHcXw8vU.jpg");
          first_pic_info.push("this is rickey bobbyyy");
          second_pic.push("https://image.tmdb.org/t/p/original/lAsNv2Vu0DvR8i67elmbHcXw8vU.jpg");
          second_pic_info.push("swagmoney6969");
          third_pic.push("https://image.tmdb.org/t/p/original/lAsNv2Vu0DvR8i67elmbHcXw8vU.jpg");
          fourth_pic.push("https://image.tmdb.org/t/p/original/lAsNv2Vu0DvR8i67elmbHcXw8vU.jpg");
          
        }
        else {
          // updating our arrays.
          first_pic.push(response.data[0].source);
          if (typeof response.data[0].name != "undefined")
            first_pic_info.push(response.data[0].name);
          else
            first_pic_info.push(" ");

          second_pic.push(response.data[1].source);
          if (typeof response.data[1].name != "undefined")
            second_pic_info.push(response.data[1].name);
          else
            second_pic_info.push(" ");

          third_pic.push(response.data[2].source);
          fourth_pic.push(response.data[3].source);
        }
        

        // console.dir(response.data);

        // console.dir(start_month);
        // console.dir(start_year);

        

      });

      var FB_video_request = '/me/videos?since=' + start_year + '-' + start_month + '-' + start_day + '&until=' + end_year + '-' + end_month + '-' + end_day;

      // making the api call - once for all photos
      FB.api(FB_video_request, function(response) {

        // console.dir(response);

        if (typeof response.data[0] == "undefined") {

          video_url.push("https://vines.s3.amazonaws.com/videos/08C49094-DFB4-46DF-8110-EEEC7D4D6115-1133-000000B8AD9BE72C_1.0.1.mp4?versionId=TQGtC5O7G7H34TleFA2LF0Er9tI8VZUe");
          video_info.push("this is a race track... LOL!");
          
        }
        // pick a stock video
        else {
          // picking a random video to use. (no like data is in API)
          var video_index = Math.floor(Math.random() * response.data.length);

          // updating our arrays.
          video_url.push(response.data[video_index].source);
          video_info.push(response.data[video_index].description);
        }

      });

      var FB_post_request = '/me/statuses?since=' + start_year + '-' + start_month + '-' + start_day + '&until=' + end_year + '-' + end_month + '-' + end_day;

      // making the api call - once for all photos
      FB.api(FB_post_request, function(response) {

        // console.dir(response);

        // sorting the photos by the most likes.
        response.data.sort(function(a, b) {

          // if its a tie, it doesn't matter which is first.
          if (typeof a.likes == "undefined")
            return 1; // so b is ranked higher
          else if (typeof b.likes == "undefined")
            return -1; // so a is ranked higher

          return b.likes.data.length - a.likes.data.length;
        });

        if (response.data.length < 2) {
          post_1.push("status 1");
          post_2.push("status 2");
        }
        else {
          // updating our arrays.
          post_1.push(response.data[0].message);
          post_2.push(response.data[1].message);
        }
        
      });

      // moving to the next 6 month interval.
      start_year = end_year;
      start_month = end_month;
      // start_day = end_day;

      end_month += 6;

      if (end_month > 12) {
        end_month = end_month % 12;
        ++end_year;
      }

      // console.dir(start_year);
      // console.dir(start_month);

      // ++i;

    } // while loop 


    console.dir(first_pic);
    console.dir(video_url);
    console.dir(post_1);
    // console.dir(first_pic.length);

  } // testAPI()

  // ************************** Calling Stupeflix API **************************** 

  // creating the XML file.

  var myVar;

  myVar = setTimeout(function() {

    // console.dir(first_pic.length);

  var stupeflix_xml = "<movie service='craftsman-1.0'><body>";

  var stupeflix_templates = ["director.theme.humble", "director.theme.1901", "director.theme.scrapbook","director.theme.tiles",
                              "director.theme.martini","director.theme.outline"];

  var stupeflix_random = Math.floor(Math.random() * (stupeflix_templates.length));

  // dynamically create the xml file.
  for (var i = 0; i < first_pic.length; i++) {
    stupeflix_xml +=  "<stack><widget type='" + stupeflix_templates[stupeflix_random] + "'>";
    stupeflix_xml +=  "<track type='video'>";
    stupeflix_xml +=  "<video filename='" + video_url[i] + "' volume='0.05' audio='false'/>";
    stupeflix_xml +=  "<image filename='" + fourth_pic[i] + "'></image>";
    stupeflix_xml +=  "<image filename='" + third_pic[i] + "'></image>";
    stupeflix_xml +=  "<text>" + post_2[i] + "</text>";
    stupeflix_xml +=  "<image filename='" + second_pic[i] + "'><track type='caption'>";
    stupeflix_xml +=  "<text>" + second_pic_info[i] + "</text></track></image>";
    stupeflix_xml +=  "<text>" + post_1[i] + "</text>";
    stupeflix_xml +=  "<image filename='" + first_pic[i] + "'><track type='caption'>";
    stupeflix_xml +=  "<text>" + first_pic_info[i] + "</text></track></image>";
    stupeflix_xml +=  "</track><track type='audio'>";
    stupeflix_xml +=  "<audio filename='" + songs_array[i] + "' fadein='1.0' fadeout='4.0' duration='..' volume='0.7'/>";
    stupeflix_xml +=  "</track></widget></stack>";

    // if we're not at the end, add a transition.
    if (i < first_pic.length - 1) {
      stupeflix_xml += "<transition type='crossfade' duration='1' />";
    }
  }
      
  // end while loop.
  stupeflix_xml += "</body></movie>";

  console.dir(stupeflix_xml);

   } , 1500);

  

</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<fb:login-button scope="user_photos, user_status, user_videos" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<a href="/login">Login</a>

</body>
</html>