

body {
	font-family: 'Lato', sans-serif;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
	background-image: url(img/main-page/2.png);

    width: 100%;
    height: 100%;
	background-size: cover;
    background-position: center;
	font-family: 'Lato', sans-serif !important;
	color: #fff !important;
}

section {
	margin: 5rem 0;
}

h1 {
    font-size: 4em !important;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif !important;
}

h2, h3, h4, h5, h6, p {
	font-family: 'Lato', sans-serif !important;
}

p {
    font-size: 1.5em !important;
}

label {
	display: inline-block !important;
	color: #fff !important;
	font-size: 14px !important;
}

video {
    position: relative;
    left: 50%;
    margin-left: -250px;
}

.cta-button > .button {
    background-color: #0B243B !important;
}

.one-edge-shadow {
    -webkit-box-shadow: 0 6px 8px 0px rgb(80,80,80);
       -moz-box-shadow: 0 6px 8px 0px rgb(80,80,80);
            box-shadow: 0 6px 8px 0px rgb(80,80,80), 0 -2px 8px 0px rgb(80,80,80);
}

.developer {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
}

.developer:hover {
    cursor: pointer; 
    cursor: hand;
}

.info {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
}

.duration {
	width: 100px;
	display: inline-block !important;
	margin-left: 25px !important;
}

.none {
	display: none !important;
}

.white {
	color: #fff !important;
}

.dark-font {
	color: #3B3D45 !important;
}

.login-buttons {
	margin-bottom: 40px !important;
}

.top-container {
	font-weight: 700;
	font-size: 1rem;
	margin-top: 50px;
	margin-bottom: 60px;
}

.facebook {
	background-color: rgba(0,0,0,0.5) !important;
}

.facebook:hover {
	background-color: rgba(0,0,0,0.7) !important;
}

.spotify {
	background-color: rgba(80,80,80,1) !important;
}

.spotify:hover {
	background-color: rgba(40,40,40,1) !important;
}

.hidden {
	opacity: 0;
}

.disabled {
	cursor: default !imporant;
}

.button {
	line-height: 1.7 !important;
	margin-top: 4px !important;
}
	
.number {
	font-size: 40px;
	background-color: #fff;
	border-radius: 1000px;
	color: rgba(23, 113, 91, 1);
	height: 70px;
	width: 70px;
	line-height: 1.7;
	float: right;
}

.make-video {
	background-color: rgba(0,0,0,0.5) !important;
	font-weight: 700 !important;
	letter-spacing: 1.5px !important;
}

.make-video:hover {
	background-color: rgba(0,0,0,0.7) !important;
}

.make-video.disabled:hover {
	background-color: #E74C3C !important;
	opacity: ;
}

.video-container {
	background-color: #ededed;
	padding: 40px 0;
	margin-top: 0 !important;
}

#loading-contents {

}

/*** loader ***/

#loader-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #848484;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #848484;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #848484;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
